body{
    font-family: "Poppins";
    margin:auto;
    max-width: 600px;
}
.titlebox{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #325368;
    padding: 20px;
    border-radius: 10px;
}
.fotoenos{
    grid-column: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
h1{
    font-weight: 600;
    grid-column: 2;
    text-align:center;
    align-items: center;
    padding-top: 25px;
}
h2{
    font-weight: 500;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 0;
}
ul{
    list-style-type: disc;
}
.maingrid{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 2px solid black;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
footer{
    background-color: #325368;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}