@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root {
  --poppins: Poppins, roboto, sans-serif;
  --inter: Inter, roboto, sans-serif;
  --foreground: #3f3f3f;
  --foreground-light: #f2f2f2;
  --header-background: #0b1f31;
  --card-background: #eeeeee;
  --card-header-background: #3a4958;
  --card-border: #b2a8b3;
  --radius-md: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

body {
  background-color: #fdfdfd;
}

header,
footer {
  background-color: var(--header-background);
  color: var(--foreground-light);
}

header {
  display: block;
  text-align: center;
  padding: 0.8rem;
}

h1,
h2 {
  margin: 0;
  padding: 0.7rem;
  font-weight: inherit;
}

header h2 {
  font-family: var(--inter);
}

main {
  padding: 1.4rem 1rem;
}

.grid-container {
  display: grid;
  gap: 1.4rem;
}

.card {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  color: var(--foreground);
  border-radius: var(--radius-md);
}

.card-header {
  background-color: var(--card-header-background);
  color: var(--foreground-light);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
	letter-spacing: .05rem;
}

.card-header,
.card-body {
  padding: 0.8rem;
}

.card-body .description {
	font-family: var(--inter);
}

.card .title {
  margin-bottom: 1rem;
}

.image {
  border: 1px solid var(--card-border);
  border-radius: 0.3rem;
  margin: 0.7rem 0;
}

.description {
  line-height: 1.15em;
}

footer {
  text-align: center;
  padding: 1.1rem;
}

footer h4 {
  font-family: var(--inter);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item:last-of-type {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item:last-of-type {
    grid-column: initial;
  }
}
