@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root {
  --palette0: #242933;
  --palette1: #2e3440;
  --palette2: #4c566a;
  --palette3: #d8dee9;
  --palette4: #eceff4;
  --palette5: #fafafa;
  --palette6: #5e81ac;
  --palette7: #81a1c1;
  --palette8: #88c0d0;

  --poppins: Poppins, roboto, sans-serif;
  --inter: Inter, roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}

html {
  --primary: var(--palette8);
  --secondary: var(--palette6);

  --foreground_light: var(--palette2);
  --background_light: var(--palette4);

  --foreground_dark: var(--palette3);
  --background_dark: var(--palette0);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

p {
	margin: 1.2rem 0;
}

header {
  margin: 0.8rem 0;
  display: flex;
  /* justify-content: space-between; */
  height: 3.3rem;
  line-height: 3.3rem;
}
header h1 {
  font-family: var(--poppins);
  margin: 0;
  padding: 0 0.8rem;
	margin-right: auto;
}
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(46, 52, 64, 0.95);
  /* backdrop-filter: blur(0.08rem); */
  width: 80%;
  height: 100vh;
  padding: 2rem;
  box-shadow: 0.1rem 0 0.3rem var(--foreground);
  transition: all 0.4s;
}
nav li {
  position: relative;
  display: block;
  padding: 0 0.3rem;
}
nav li a {
  color: var(--palette5);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
nav li a:hover {
  color: var(--primary);
}
.burger_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}
.burger_button i {
  display: block;
  height: 0.2rem;
  pointer-events: none;
}
.burger_button i:nth-of-type(2) {
  width: 75%;
}
.burger_button i:last-of-type {
  width: 93%;
}
.burger_button {
  min-width: 55px;
}

.mode_button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: .5rem;
	font-size: 1.2rem;
	cursor: pointer;
}
.sun,
.moon {
	position: absolute;
	pointer-events: none;
}
.sun {
	display: none;
}

main h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
}
.description {
  text-align: center;
  font-size: 1.1rem;
  margin: 2rem;
}

section {
  margin: 1rem;
  padding: 1.8rem;
  border-radius: 0.4rem;
}

footer {
	display: flex;
	flex-direction: column;
  margin: 2rem 0.2rem;
  text-align: center;
}

.year {
  font-style: 2rem;
}
footer span:last-of-type {
	font-weight: 600;
}

.--hide {
  transform: translateX(-120%);
}
.overlay {
  position: fixed;
  background-color: rgba(46, 52, 64, 0.2);
  /* backdrop-filter: blur(0.08rem); */
  width: 100%;
  height: 100vh;
  top: 0;
  transition: all 0.4s;
}
.overlay::after {
  content: 'CLOSE';
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--foreground);
  font-size: 2.5rem;
  transform: translate(1rem, -100%) rotate(90deg);
}

.base_group {
	margin: 2.5rem 0;
}
.base_group > * {
	margin-bottom: .8rem;
}
.base_group h4 {
	display: inline-block;
	padding: .4rem .6rem;
	border-radius: .3rem;
	background-color: var(--palette3);
	color: var(--palette2);
}
.base_group .refs {
	display: block;
	font-weight: 600;
}
.base_group p {
	margin: 0;
}

@media (min-width: 658px) {
  header,
  main {
    max-width: 1010px;
    margin: 0.8rem auto;
		padding: 0 .8rem;
  }

  nav {
    position: initial;
    padding: 0 1rem;
    text-align: right;
    background-color: initial;
    box-shadow: none;
  }

  nav li {
    display: inline-block;
  }

  nav li a {
    font-size: initial;
    color: var(--foreground);
    letter-spacing: initial;
  }

  .burger_button {
    display: none;
  }

  .--hide {
    transform: translateX(0);
  }
  .overlay {
    display: none;
  }
}
