@media (min-width:60em) {
    .titlebox {

        display: grid;
        grid-template-columns: 30% 70%;
    }
    .ianimage{
        grid-column: 1;
    }
    #indexheader{
        grid-column: span 1;
    }
    .designgrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #des3:nth-child(3){
        grid-column: span 1;
    }
    #portallist{
        font-weight: 500;
    }
    ul{
        font-weight: 400;
    }
    nav ul{
        flex-direction: row;
    }
    .les3body{
        max-width: 75%;
    }
    #chambermain{
        max-width: 90%;
    }
}